body {
  background-color: black;
  color: white;
}
#getCountriesBtn {
  margin-left: 35%;
  margin-top: 20px;
}

#getCountriesBtn:hover {
  background-color: white;
  color: black;
}
#inputsContainer {
  height: 300px;
  width: 500px;
  margin: 30px auto 0 auto;
}
